{% extends 'responsive.html' %}

{% block title %}Home{% endblock %}

{% block content %}
	
	<section id="home">
		<div id="callout"> <!-- jumbotron -->

			<div> <!-- column -->
				<img src="out/img/logo.png">	
				<h1>{{ callout }}</h1>
				<p>{{ tagline }}</p>
  				<p>
  					<a 
  						id="btn-twitter" 
  						role="button" 
  						href="https://twitter.com/dockpit">
  							twitter <i class="fa fa-twitter"></i>
  					</a>
  					
  					<a 
  						id="btn-github" 
  						role="button" 
  						href="https://github.com/dockpit/pit">
  							github <i class="fa fa-github"></i>
  					</a>
  				</p>
			</div>

		</div>

		<h2 class="hr"><span>Features</span></h2>


		<!-- list each feature -->
		{% for f in collections.features %}
			<section class="feature" id="{{f.slug}}">
				<div>

					<article class="feature-text">
						<h3>{{ f.contents|safe }}</h3>
					</article>

				<article class="feature-example">
<pre>$> <b>{{f.command}}</b>{% for o in f.output|split %}
{{o}}{% endfor %}</pre>
				</article>

				</div>
			</section>
		{% endfor %}

		<h2 class="hr"><span>License</span></h2>

		<div id="callout"> <!-- jumbotron -->

			<div> <!-- column -->
			<p>dockpit is still in early development but is already <a id="link-open-sourced" href="https://github.com/dockpit/pit">open sourced</a> under the Mozilla Public License (version 2.0).</p>

			</div>
		</div>

		<script>
			var e = document.getElementById('link-email-team');
			var ghl = document.getElementById('link-open-sourced');
			var gh = document.getElementById('btn-github');
			var t = document.getElementById('btn-twitter');

			analytics.trackLink(e, 'Open email link', { address: 'team@dockpit.io', subject: 'test-drive early version'})
			analytics.trackLink(ghl, 'Redirected to Property', { asset: 'github'})
			analytics.trackLink(gh, 'Redirected to Property', { asset: 'github'})
			analytics.trackLink(t, 'Redirected to Property', { asset: 'twitter'})
		</script>

	</section>	
{% endblock %}
