{% extends 'responsive.html' %}

{% block title %}Home{% endblock %}

{% block content %}
	
	<section id="home">
		<div id="callout"> <!-- jumbotron -->

			<div> <!-- column -->
				<h1>{{ callout }}</h1>
				<p>{{ tagline }}</p>
  				<p>
  					<a id="btn-learn-more" role="button" href="#">Learn more</a>
  					<a id="btn-get-started" role="button" href="/ui">Get Started <i class="fa fa-chevron-right"></i></a>
  				</p>
			</div>

		</div>
		
		<section id="features">
			<h2>Features</h2>
			<div>

				{% for f in collections.features %}
					<article>
						<i class="fa fa-{{f.icon}}"></i>
						<h3>{{ f.title }}</h3>
						{{ f.contents|safe }}

						<a role="button" href="#">Learn more</a>
					</article>
				{% endfor %}

			</div>
		</section>

		<section id="customers">
			<h2><span>Customers</span></h2>
			<ul>
				{% for c in collections.customers %}
					<li>
						<div class="icon-{{c.logo}}">
							<span>{{ c.name }}</span>
						</div>
					</li>
				{% endfor %}
			</ul>
		</section>

		<section id="call-to-action">
			<hr/>
			<h3>Getting started is Easy, your only a few steps away! <a role="button" href="/ui">Get Started!</a></h3>
			
			<hr/>
		</section>

	</section>
	
{% endblock %}