{% extends 'responsive.html' %}

{% block title %}Home{% endblock %}

{% block content %}
	
	<section id="home">
		<div id="callout"> <!-- jumbotron -->

			<div> <!-- column -->
				<h1>{{ callout }}</h1>
				<p>{{ tagline }}</p>
  				<p>
  					<a id="btn-learn-more" role="button" href="https://twitter.com/dockpit">twitter <i class="fa fa-twitter"></i></a>
  					<a id="btn-get-started" role="button" href="https://github.com/dockpit/pit">github <i class="fa fa-github"></i></a>
  				</p>
			</div>

		</div>
	</section>
	
{% endblock %}