// noramlize (inline) and rest on demand
@import	"in/vendor/bootstrap/variables.less";
@import	"in/vendor/bootstrap/normalize.less"; //reset
@import	"in/vendor/bootstrap/scaffolding.less"; //box modles
@import (reference) "in/vendor/bootstrap/bootstrap.less";


//variables
@footer-height: 60px; //@sticky footer
@font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-base: @font-family-sans-serif;

@pit-body-color:	white;
@pit-blue: 			#8CD2F4;
@pit-dblue:			darken(@pit-blue, 20%);

@pit-dgrey: 		black;
@pit-mgrey: 		#575756;
@pit-lgrey: 		#efefef;
@pit-text-on-grey:  white;

// ------------------------------------
// Custom Mixins
// ------------------------------------ 
.hr() {
	text-align: center;
	height: 1px;
	background-color: @pit-lgrey;
	color: darken(@pit-lgrey, 5%);
	span {
		background-color: @pit-body-color;
		font-family: @font-family-serif;
		letter-spacing: 1px;
		font-size: 0.8em;
		position: relative;
		padding: 0 10px 0 10px;
		top: -0.9em;
	}
}

.pit-btn() {
	border-radius: 0;
	letter-spacing: 0.1em;
	font-weight: lighter; 
	border: 0px solid @pit-dblue;
	border-bottom-width: 2px;
	border-right-width: 2px;
}

.btn-primary() {
	.pit-btn();
	background: @pit-blue;

	color: white;
	&:hover {
		.pit-btn();
		text-decoration: none;
		background: @pit-blue;
		border-color: @pit-dblue;
		color: @pit-dblue;
	}
}

.btn-info() {
	.pit-btn();
	background: @pit-mgrey;
	border-color: @pit-dgrey;
	color: @pit-body-color;
	&:hover {
		.pit-btn();
		text-decoration: none;
		background: @pit-mgrey;
		border-color: @pit-dgrey;
		color: @pit-blue;
	}
}

.btn-default() {
	.pit-btn();
	background: @pit-dgrey;
	border-color: black;
	color: @pit-blue;
	&:hover {
		.pit-btn();
		text-decoration: none;
		background: @pit-dgrey;
		border-color: @pit-blue;
		color: @pit-blue;
	}
}

// ------------------------------------
// Global Styling
// ------------------------------------ 

hr {
	.hr();
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: @footer-height; //@sticky footer
	background-color: @pit-body-color;
}

footer {
	background-color: @pit-lgrey;

	//sticky footer
	width: 100%;
	position: absolute;
	bottom: 0;
	height: @footer-height;

	&> div:extend(.container) {
			padding-top: @footer-height/3;
			color: darken(@pit-lgrey, 20%);
	}
}

// ------------------------------------
// Custom styling for different sections
// ------------------------------------ 

//
// Home section
// 
section#home {

	#callout:extend(.jumbotron) {
		background-color: transparent;
		@media (min-width: @screen-sm-min) {
			padding-bottom: 80px;
			padding-top: 80px;
		}

		&> div {
			background: transparent;
			text-align: left;
			float: none !important;				    
		    margin: 0 auto;
		    width: 100%;

			@media (min-width: @screen-sm-min) {
				width: 80%;
			}

			/* Medium devices (desktops, 992px and up) */
			@media (min-width: @screen-md-min) {
				width: 50%;
			}

			h1 {
				margin-bottom: 0;
				@media (min-width: @screen-sm-min) {
					font-size: 2.5em;					
				}
			}

			p {
				margin: 0 0 10px 0;
				font-family: @font-family-sans-serif;
				font-weight: lighter;
				font-size: 1.5em;
			}
		}
		
	}

	#btn-github:extend(.btn, .btn-primary, .hidden-xs) {
		.btn-primary();
		margin-left: 5px;
	}

	#btn-twitter:extend(.btn, .btn-default) {
		.btn-info();
	}

	section#spec:extend(.container) {
		article.feature-text{}
		article.feature-example{}
	}

	section.feature:extend(.container) {
		margin-top: 60px;
		margin-bottom: 30px;

		&> div {
			.make-row();
		}
		
		article.feature-text{
			.make-sm-column(6);
			.make-lg-column(6);
			.make-md-column(6);
			h2{font-weight: lighter;}
		}

		article.feature-example{
			.make-sm-column(6);
			.make-lg-column(6);
			.make-md-column(6);

			&>pre {
				background-color: @pit-dgrey;
				color: @pit-lgrey;
				padding: 10px;
			}
		}

	}



}


//
// Not-Found section
// 
section#not-found:extend(.container) {
	margin-top: 50px;
	padding-bottom: 50px;
	& > div {
		& > article {
			padding: 30px;
			border: 1px solid @pit-lgrey;
			float: none !important;				    
		    margin: 0 auto;
			.make-xs-column(12);
			.make-sm-column(8);
			.make-md-column(6);
			.make-lg-column(6);	
			p {
				font-size: 1.5em;
				font-family: @font-family-sans-serif;
				font-weight: lighter;
			}
			a:extend(.btn, .btn-primary) {
			}
		} 
	}
	

}